.key{
    border: 4px solid black;
    border-radius: 5px;
    /* what that rem means? ask sukesh*/
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all 0.07s;
    width: 100px;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 5px black;
}

.playing{
    transform: scale(1.1);
    border-color: #8a6d06;
    box-shadow: 0 0 10px  #8a6d06;
}

kbd{
    display: block;
    font-size: 40px;
}

.sound{
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color:  #8a6d06;
}
.keys{
    display: inline-flex;
    margin: 4rem;

}

.bground{
    background-image: url(img.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
h1{
    color: white;
    text-align: center;
    margin-top: 40px;
    padding-top: 60px;
}
